# Root-level ignores
node_modules/
.env
.env.*      # catch .env.development, .env.production, etc.
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store

# Ignore OS-specific files
Thumbs.db

# Ignore IDE/editor folders
.vscode/
.idea/
*.swp

# --- Client (Vite + React) ---
/client/node_modules/
/client/dist/
/client/.env
/client/.env.*


# --- Server (Node.js + Express) ---
/server/node_modules/
/server/.env
/server/logs/
